@model IEnumerable<Product>


<h1>Products</h1>
<button class="align-items-md-start"><a asp-area="" asp-controller="Product" asp-action="Create">Create</a> </button>
@foreach(var item in Model)
{
    <div>
        <h6>Product @item.Id</h6>
        <div>
            @item.Name
        </div>
        <div>
            @item.Price
        </div>
        <button class="align-items-md-center"><a asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </button>
        <button class="align-items-md-start"><a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a> </button>
        <button class="align-items-md-start"><a asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </button>
    </div>
}


